<gpa-no-permission-alert [visible]="!canRead">
  No tiene permisos para leer categorias
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Nombre</th>
    <th>Descripción</th>
    <!-- <th></th> -->
  </tr>
  <tbody body>
    <tr *ngFor="let category of data.data">
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td style="width: 100px">
        <button
          class="btn btn-outline-danger btn-icon"
          (click)="handleDelete(category)"
          [disabled]="!canDelete"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(category)"
          [disabled]="!canEdit"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
