<div class="right-button">
  <a
    routerLink="/auth/users/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Usuarios
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <i class="fa-solid fa-floppy-disk"></i>Guardar
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>
  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
    placement="top"
    ngbTooltip="Limpiar campos"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
</div>
<div style="margin-top: 50px" class="card-content-container">
  <div class="card">
    <div class="card-header"></div>
    <!--  -->
    <div class="card-body">
      <!-- Comienza row de sergundo nivel! -->
      <div class="row">
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear usuarios
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="isEdit && !canEdit">
          No tiene permisos para modificar usuarios
        </gpa-no-permission-alert>
        <form [formGroup]="userForm" class="row">
          <div class="col-sm-2 col-12">
            <gpa-no-permission-alert [visible]="!uploadPhoto">
              No tiene permisos para subir foto
            </gpa-no-permission-alert>
            <img
              [src]="this.imageUrl"
              class="img-thumbnail image-upload-product"
              (click)="fileUpload.click()"
              *ngIf="uploadPhoto"
            />
            <input
              type="file"
              style="display: none"
              #fileUpload
              (change)="processFileUpload($event)"
            />
          </div>
          <!--  -->
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Email<span class="text-red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
              <!--  -->
              <div class="col-sm-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Nombre de usuario<span class="text-red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="userName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label"
                >Nombre<span class="text-red">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
              />
            </div>
          </div>
          <!--  -->
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label"
                >Apellido<span class="text-red">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
              />
            </div>
          </div>
        </form>
        <div
          class="col-12 col-sm-12"
          style="border: solid 1px lightgray; padding: 5px"
        >
          <h5>Perfiles</h5>
          <ol>
            <li *ngFor="let profile of profiles">{{ profile.name }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
