<div class="right-button">
  <a
    routerLink="/general/blobs/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
    *ngIf="canRead"
  >
    <i class="bi bi-card-list"></i> Proveedores de archivos
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="save()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <i class="fa-solid fa-floppy-disk"></i>Guardar
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="save()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>

  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
    placement="top"
    ngbTooltip="Limpiar campos"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
</div>
<!-- Row start -->
<div style="margin-top: 50px" class="card-content-container">
  <div class="col-sm-12 col-12">
    <!-- Card start -->
    <div class="card">
      <div class="card-body">
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear proveedores de archivo
        </gpa-no-permission-alert>
        <form #form="ngForm" [formGroup]="blobProviderForm">
          <!-- Row start -->
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="mb-3">
                <label for="identifier" class="form-label"
                  ><span class="text-red">*</span> Identificador</label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="identifier"
                />
                <gpa-validator-message
                  [control]="blobProviderForm.get('identifier')"
                  [touched]="blobProviderForm.touched"
                  validation="required"
                  message="El identificador es requerido"
                />
              </div>
            </div>
            <div class="col-sm-12 col-12">
              <div class="mb-3">
                <label for="publicUrl" class="form-label"
                  ><span class="text-red">*</span> Url pública</label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="publicUrl"
                />
                <gpa-validator-message
                  [control]="blobProviderForm.get('publicUrl')"
                  [touched]="blobProviderForm.touched"
                  validation="required"
                  message="El identificador es requerido"
                />
              </div>
            </div>
            <div class="col-sm-12 col-12">
              <div class="mb-3">
                <div class="form-check">
                  <input
                    type="checkbox"
                    id="current"
                    class="form-check-input"
                    formControlName="current"
                    [value]="false"
                  />
                  <label for="current" class="form-check-label"
                    >Proveedor por defecto</label
                  >
                </div>
              </div>
              <gpa-validator-message
                [control]="blobProviderForm.get('current')"
                [touched]="blobProviderForm.touched"
                validation="required"
                message="EDebe elegir Descuento o Agregado"
              />
            </div>
            <div>
              <h6>Detalles del proveedor de archivo</h6>
              <!-- proveedores de archivo -->
              <gpa-aws-blob
                *ngIf="selectedEngine == blobStorageConstant.AWS"
                [options]="options"
                (onOptionsChange)="handleOptionsChange($event)"
              ></gpa-aws-blob>
              <gpa-gcp-blob
                *ngIf="selectedEngine == blobStorageConstant.GCP"
                [options]="options"
                (onOptionsChange)="handleOptionsChange($event)"
              ></gpa-gcp-blob>
              <gpa-azure-blob
                *ngIf="selectedEngine == blobStorageConstant.AZURE"
                [options]="options"
                (onOptionsChange)="handleOptionsChange($event)"
              ></gpa-azure-blob>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Card end -->
  </div>
</div>
<!-- Row end -->
