<div class="product-catalog" *ngIf="visible">
  <div>
    <h4>Catálogo de productos</h4>
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar productos"
      style="margin-right: 20px"
    />
    <button
      class="btn btn-outline-danger btn-rounded"
      (click)="handleShowProductCatalog(false)"
    >
      <i class="bi bi-x"></i>
    </button>
  </div>
  <hr />
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Código</td>
          <td>Producto</td>
          <td>Tipo</td>
          <td>Descuento</td>
          <td>Agregado</td>
          <td>Precio</td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products"
          (click)="handleSelectedProductFromCatalog(product)"
          [class.selected-product]="selectedProducts[product.id!]"
        >
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ productType(product.type) }}</td>
          <td>$ {{ product.debit }}</td>
          <td>$ {{ product.credit }}</td>
          <td>$ {{ product.price }}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page Navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item" style="margin-right: 6px">
          <button class="btn btn-outline-info" (click)="handleBackwardPage()">
            <span aria-hidden="true">
              <i class="bi bi-arrow-left"></i>
            </span>
          </button>
        </li>
        <li class="page-item">
          <button class="btn btn-outline-info" (click)="handleForwardPage()">
            <span aria-hidden="true">
              <i class="bi bi-arrow-right"></i>
            </span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
