<div class="product-catalog" *ngIf="visible">
  <div>
    <h4>Catálogo de productos</h4>
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar productos"
      style="margin-right: 20px"
      (input)="handleSearch($event)"
    />
    <button
      class="btn btn-outline-primary btn-rounded"
      (click)="handleShowProductCatalog(false)"
    >
      Aceptar
    </button>
  </div>
  <hr />
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <ngx-spinner
          name="product-catalog-spinner"
          [fullScreen]="false"
          type="timer"
          size="medium"
        ></ngx-spinner>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Código</td>
              <td>Producto</td>
              <td>Tipo</td>
              <td>Precio</td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of products"
              (click)="handleSelectedProductFromCatalog(product)"
              [class.selected-product]="selectedProducts[product.id!]"
            >
              <td>{{ product.code }}</td>
              <td>
                {{
                  product.name + " " + product.unitValue + " " + product.unit
                }}
              </td>
              <td>{{ productType(product.type) }}</td>
              <td>$ {{ product.price }}</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page Navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item" style="margin-right: 6px">
              <button
                class="btn btn-outline-info"
                (click)="handleBackwardPage()"
              >
                <i class="bi bi-arrow-left"></i>
              </button>
            </li>
            <li class="page-item">
              <button
                class="btn btn-outline-info"
                (click)="handleForwardPage()"
              >
                <i class="bi bi-arrow-right"></i>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
