<!-- Row start -->
<div class="row">
  <div class="col-12">
    <div style="display: flex; justify-content: space-between; gap: 15px">
      <div>
        <h3>Venta</h3>
      </div>
      <div
        class="right-button"
        style="display: flexbox; justify-content: flex-end; gap: 4px"
      >
        <button type="button" class="btn btn-outline-success btn-rounded">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-floppy"
            viewBox="0 0 16 16"
          >
            <path d="M11 2H9v3h2z" />
            <path
              d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
            />
          </svg>
          Guardar
        </button>

        <button type="button" class="btn btn-outline-dark btn-rounded">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
            />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
            />
          </svg>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-12">
    <!-- Card start -->
    <div class="card">
      <div class="card-body">
        <!-- Row start -->
        <form class="row row-cols-sm-auto">
          <div class="col-6 col-sm-6">
            <button
              class="btn btn-outline-primary"
              type="button"
              (click)="handleShowClientCatalog(true)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-add"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
                />
                <path
                  d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                />
              </svg>
              Cliente
            </button>
          </div>
          <div class="col-12 col-sm-12">
            <blockquote>
              <p><span style="font-weight: 700">Nombre:</span> Raul Calsado</p>
              <p><span style="font-weight: 700">Cédito:</span> 45</p>
              <p><span style="font-weight: 700">Débito:</span> 34</p>
            </blockquote>
          </div>
          <div class="col-12 col-sm-12">
            <hr />
          </div>
          <div class="col-12 col-sm-4">
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Fecha</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="mb-3">
              <label for="inputCompanyName" class="form-label">Adjuntos</label>
              <input type="file" class="form-control" />
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-8 col-12">
            <div class="mb-3">
              <label class="form-label">Tipo de venta</label>
              <div class="mt-2">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="billingRadioOptions"
                    id="billingRadio1"
                    value="option1"
                    checked=""
                  />
                  <label class="form-check-label" for="billingRadio1"
                    >Al contado</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="billingRadioOptions"
                    id="billingRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="billingRadio2"
                    >Crédito</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="mb-3">
              <label for="inputCompanyName" class="form-label">Nota</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="col-xl-3 col-sm-4 col-12">
            <div class="mb-3">
              <div class="custom-btn-group">
                <button
                  type="button"
                  class="btn btn-outline-success btn-icon position-relative"
                >
                  <i class="bi bi-cart-check"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill shade-green"
                    >$10</span
                  >
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success btn-icon position-relative"
                >
                  <i class="bi bi-bag-check-fill"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill shade-green"
                    >10+</span
                  >
                </button>
              </div>
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="handleShowProductCatalog(true)"
              >
                <i class="bi bi-plus-lg"></i> Agregar producto
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>RP-01</td>
                    <td>Botellita</td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        style="margin: 0; padding: 0"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        style="margin: 0; padding: 0"
                      />
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-danger btn-rounded"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                          />
                          <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Row end -->
      </div>
      <div class="product-catalog" *ngIf="isProductCatalogVisible">
        <h5 class="mb-3">Catálogo de productos</h5>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-search"></i></span>
          <input
            type="text"
            class="form-control"
            placeholder="Buscar productos"
            style="margin-right: 20px"
          />
          <button
            class="btn btn-outline-danger btn-rounded"
            (click)="handleShowProductCatalog(false)"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
        <div>
          <ul>
            <li><i class="bi bi-cart4"></i></li>
            <li>Cantidad: 2</li>
            <li>Total: $54</li>
          </ul>
        </div>
        <hr />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>Código</td>
                <td>Nombre</td>
                <td>Pecio</td>
                <td>Cantidad</td>
                <td>Ubicación</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>PROD-1</td>
                <td>Botellon</td>
                <td>$34</td>
                <td>4</td>
                <td>LOC-3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="client-catalog" *ngIf="isClientCatalogVisible">
        <h5 class="mb-3">Catálogo de clientes</h5>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-search"></i></span>
          <input
            type="text"
            class="form-control"
            placeholder="Buscar cliente"
            style="margin-right: 20px"
          />
          <button
            class="btn btn-outline-danger btn-rounded"
            (click)="handleShowClientCatalog(false)"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Identificación</th>
                <th>Téfono</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Juan</td>
                <td>Soto</td>
                <td>22301566091</td>
                <td>809555687</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Card end -->
  </div>
</div>
<!-- Row end -->
