div.card {
  position: relative;
}

.user-catalog {
  position: absolute;
  padding: 20px;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}

.user-catalog tbody tr {
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}
