<gpa-no-permission-alert [visible]="!canReadExistence">
  No tiene permisos para ver existencias
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <div search style="width: 100%">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-sm-4 col-12">
          <label class="form-label" style="margin-bottom: 23px"></label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar por Código o Producto"
              formControlName="term"
              (input)="handleSearch()"
              style="margin-right: 2px; width: 100px"
            />
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <label class="form-label">Tipo</label>
          <select
            class="form-control"
            (change)="handleSearch()"
            formControlName="type"
          >
            <option value="-1">Todos</option>
            <option value="1">Producto terminado</option>
            <option value="2">Materia prima</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Código</th>
    <th>Producto</th>
    <th>Tipo</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Existencia</th>
    <th>Monto en producto</th>
  </tr>
  <tbody body>
    <tr *ngFor="let stock of data.data">
      <td>{{ stock.productCode }}</td>
      <td>{{ stock.productName }}</td>
      <td>
        {{ stock.productType == 1 ? "Producto terminado" : "Materia prima" }}
      </td>
      <td style="color: green">{{ stock.input }}</td>
      <td style="color: red">{{ stock.output }}</td>
      <td>{{ stock.stock }}</td>
      <td>{{ stock.price * stock.stock | currency }}</td>
      <td style="width: 100px">
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(stock)"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
