<div
  style="position: fixed; top: 90px; display: block; right: 50px; z-index: 100"
>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    [disabled]="!updateUserProfile"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>
  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-x-square"
      viewBox="0 0 16 16"
    >
      <path
        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
      />
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
      />
    </svg>
    Cancelar
  </button>
</div>
<div class="row" style="margin-top: 50px">
  <div class="card">
    <div class="card-header"></div>
    <!--  -->
    <div class="card-body">
      <!-- Comienza row de sergundo nivel! -->
      <div class="row">
        <gpa-no-permission-alert [visible]="!updateUserProfile">
          No tiene permisos para editar su perfil
        </gpa-no-permission-alert>
        <form [formGroup]="userForm" class="row">
          <div class="col-sm-2 col-12">
            <gpa-no-permission-alert [visible]="!uploadPhoto">
              No tiene permisos para subir foto
            </gpa-no-permission-alert>
            <img
              [src]="this.imageUrl"
              class="img-thumbnail image-upload-product"
              (click)="fileUpload.click()"
              *ngIf="uploadPhoto"
            />
            <input
              type="file"
              style="display: none"
              #fileUpload
              (change)="processFileUpload($event)"
            />
          </div>
          <!--  -->
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Email<span class="text-red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
              <!--  -->
              <div class="col-sm-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Nombre de usuario<span class="text-red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="userName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label"
                >Nombre<span class="text-red">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
              />
            </div>
          </div>
          <!--  -->
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label"
                >Apellido<span class="text-red">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
