<div class="right-button">
  <a
    routerLink="/inventory/existence/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Existencia
  </a>
  <a
    routerLink="/inventory/product/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Productos
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <i class="fa-solid fa-floppy-disk"></i>
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>

  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
</div>
<div style="margin-top: 50px" class="card-content-container">
  <div class="col-sm-12 col-12">
    <div class="card">
      <div class="card-header"></div>

      <!--  -->
      <div class="card-body">
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear productos
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="isEdit && !canEdit">
          No tiene permisos para modificar productos
        </gpa-no-permission-alert>
        <div class="col-sm-6 col-12 info-container">
          <!-- Primer grupo del formlario -->
          <div class="card-border">
            <div class="card-border-title mb-1">Información General</div>
            <div class="card-border-body">
              <form [formGroup]="productForm" class="row">
                <!--  -->
                <div class="col-sm-12 col-12">
                  <img
                    [src]="this.imageUrl"
                    class="img-thumbnail image-upload-product"
                    (click)="fileUpload.click()"
                  />
                  <input
                    type="file"
                    style="display: none"
                    #fileUpload
                    (change)="processFileUpload($event)"
                  />
                </div>
                <div class="col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Código<span class="text-red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      formControlName="code"
                      placeholder="Ingrese el código del producto"
                    />
                    <gpa-validator-message
                      [control]="productForm.get('code')"
                      [touched]="productForm.touched"
                      validation="required"
                      message="Requerido"
                    />
                  </div>
                </div>
                <!--  -->
                <div class="col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Nombre<span class="text-red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      placeholder="Ingrese el nombre del producto"
                    />
                    <gpa-validator-message
                      [control]="productForm.get('name')"
                      [touched]="productForm.touched"
                      validation="required"
                      message="Requerido"
                    />
                  </div>
                </div>
                <!--  -->
                <div class="col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Categoría<span class="text-red">*</span></label
                    >
                    <select
                      name="categoryId"
                      class="form-select"
                      formControlName="categoryId"
                    >
                      <option
                        *ngFor="let category of categories$ | async"
                        value="{{ category.id }}"
                      >
                        {{ category.name }}
                      </option>
                    </select>
                    <gpa-validator-message
                      [control]="productForm.get('categoryId')"
                      [touched]="productForm.touched"
                      validation="required"
                      message="Requerido"
                    />
                  </div>
                </div>
                <!--  -->
                <div class="col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Precio<span class="text-red">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      formControlName="price"
                      placeholder="Ingrese el precio del producto"
                    />
                    <gpa-validator-message
                      [control]="productForm.get('price')"
                      [touched]="productForm.touched"
                      validation="required"
                      message="Requerido"
                    />
                  </div>
                </div>

                <div class="col-sm-4 col-12">
                  <div class="input-group">
                    <div class="mb-3" style="width: 20%">
                      <label class="form-label"
                        >Valor<span class="text-red">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="unitValue"
                      />
                    </div>

                    <div class="mb-3" style="width: 80%">
                      <label class="form-label"
                        >Unidad<span class="text-red">*</span></label
                      >
                      <select
                        name="unitId"
                        class="form-select"
                        formControlName="unitId"
                      >
                        <option
                          *ngFor="let unit of units$ | async"
                          value="{{ unit.id }}"
                        >
                          {{ unit.name }}
                        </option>
                      </select>
                      <gpa-validator-message
                        [control]="productForm.get('unitId')"
                        [touched]="productForm.touched"
                        validation="required"
                        message="Requerido"
                      />
                    </div>
                  </div>
                </div>
                <!--  -->
                <div class="col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Tipo de producto<span class="text-red">*</span></label
                    >
                    <select
                      name="categoryId"
                      class="form-select"
                      formControlName="type"
                    >
                      <option value="1">Producto terminado</option>
                      <option value="2">Materia prima</option>
                    </select>
                    <gpa-validator-message
                      [control]="productForm.get('type')"
                      [touched]="productForm.touched"
                      validation="required"
                      message="Requerido"
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-12">
                  <div class="mb-2">
                    <label class="form-label"
                      >Descripcion<span class="text-red">*</span></label
                    >
                    <textarea
                      rows="4"
                      class="form-control"
                      formControlName="description"
                      placeholder="Use este espacio para agregar una descripcion del producto"
                    ></textarea>
                    <gpa-validator-message
                      [control]="productForm.get('description')"
                      [touched]="productForm.touched"
                      validation="required"
                      message="Requerido"
                    />
                  </div>
                </div>

                <div class="col-sm-12 col-12">
                  <div class="mb-2">
                    <label class="form-label">Agregados</label>
                    <div formArrayName="addons">
                      <div
                        *ngFor="
                          let credit of this.addonsForm.controls;
                          let i = index
                        "
                        class="form-check"
                        [formGroupName]="i"
                      >
                        <input
                          type="checkbox"
                          [id]="credit.get('id')?.value"
                          formControlName="selected"
                          [value]="credit.get('selected')?.value"
                          class="form-check-input"
                        />
                        <label
                          [for]="credit.get('id')?.value"
                          class="form-check-label"
                        >
                          {{ credit.get("concept")?.value }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
