<gpa-no-permission-alert [visible]="!canRead">
  No tiene permisos para ver usuarios
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <div search>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por Nombre, Email o Usuario"
        style="margin-right: 20px; width: 300px"
        (input)="handleSearch($event)"
      />
    </div>
  </div>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Nombre</th>
    <th>Email</th>
    <th>Usuario</th>
    <th></th>
  </tr>
  <tbody body *ngIf="canRead">
    <tr *ngFor="let user of data.data">
      <td>{{ user.firstName + " " + user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.userName }}</td>
      <td style="width: 100px">
        <button
          class="btn btn-outline-danger btn-icon"
          (click)="handleDelete(user)"
          [disabled]="!canDelete"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(user)"
          [disabled]="!canEdit"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
