<div class="input-group" style="width: 350px">
  <span class="input-group-text"><i class="bi bi-search"></i></span>
  <input
    type="text"
    class="form-control"
    placeholder="Filtrar productos"
    style="margin-right: 20px"
    (input)="handleSearch($event)"
  />
  <div>
    <select class="form-control" (change)="handleSearchBySelected($event)">
      <option value="-1">Todos</option>
      <option value="1">Selecionados</option>
      <option value="0">Deseleccionados</option>
    </select>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <ngx-spinner
        name="product-catalog-spinner"
        [fullScreen]="false"
        type="timer"
        size="medium"
      ></ngx-spinner>
      <div class="col-12 col-sm-12">
        <button
          class="btn btn-outline-success"
          style="margin-right: 5px"
          (click)="handleProductSelectionAll()"
        >
          <i class="bi bi-pin"></i> Seleccionar todo
        </button>
        <button
          class="btn btn-outline-warning"
          (click)="handleProductRemovalAll()"
        >
          <i class="bi bi-x"></i> Deseleccionar todo
        </button>
      </div>
      <div class="col-sm-12 col-12">
        <div class="mb-2">
          <div *ngFor="let product of products" class="form-check">
            <input
              type="checkbox"
              [value]="product.id"
              class="form-check-input"
              [id]="product.id"
              (change)="handleProductSelection($event, product)"
              [checked]="product.isSelected"
            />
            <label [for]="product.id" class="form-check-label">
              {{ product.code }} - {{ product.name }}
            </label>
          </div>
        </div>
      </div>
      <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item" style="margin-right: 6px">
            <button class="btn btn-outline-info" (click)="handleBackwardPage()">
              <span aria-hidden="true">
                <i class="bi bi-arrow-left"></i>
              </span>
            </button>
          </li>
          <li class="page-item">
            <button class="btn btn-outline-info" (click)="handleForwardPage()">
              <span aria-hidden="true">
                <i class="bi bi-arrow-right"></i>
              </span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
