<div
  style="position: fixed; top: 90px; display: block; right: 50px; z-index: 100"
>
  <a
    routerLink="/invoice/client/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Lista de clientes
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-floppy"
      viewBox="0 0 16 16"
    >
      <path d="M11 2H9v3h2z" />
      <path
        d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
      />
    </svg>
    Guardar
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>

  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-x-square"
      viewBox="0 0 16 16"
    >
      <path
        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
      />
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
      />
    </svg>
    Cancelar
  </button>
</div>
<div class="row" style="margin-top: 50px">
  <div class="col-sm-12 col-12">
    <div class="card">
      <div class="card-header"></div>

      <!--  -->
      <div class="card-body">
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear clientes
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="isEdit && !canEdit">
          No tiene permisos para modificar clientes
        </gpa-no-permission-alert>
        <!-- Comienza row de sergundo nivel! -->
        <div class="row">
          <div class="col-sm-6 col-12 info-container">
            <!-- Primer grupo del formlario -->
            <div class="card-border">
              <div class="card-border-body">
                <form [formGroup]="clientForm">
                  <div class="row">
                    <!--  -->
                    <div class="col-sm-3 col-12">
                      <div class="mb-3">
                        <label class="form-label"
                          >Nombre<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="name"
                        />
                        <gpa-validator-message
                          [control]="clientForm.get('name')"
                          [touched]="clientForm.touched"
                          validation="required"
                          message="El nombre es requerido"
                        />
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-3 col-12">
                      <div class="mb-3">
                        <label class="form-label"
                          >Apellido<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lastName"
                        />
                        <gpa-validator-message
                          [control]="clientForm.get('lastName')"
                          [touched]="clientForm.touched"
                          validation="required"
                          message="El apellido es requerido"
                        />
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-sm-3 col-12">
                      <div class="mb-3">
                        <label class="form-label"
                          >Identificación<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="identification"
                        />
                        <gpa-validator-message
                          [control]="clientForm.get('identification')"
                          [touched]="clientForm.touched"
                          validation="required"
                          message="La identificación es requerida"
                        />
                      </div>
                    </div>
                    <fieldset style="border: solid 1px #e1e1e1">
                      <legend>
                        Creditos
                        <button
                          class="btn btn-light"
                          type="button"
                          (click)="addCredit()"
                        >
                          <i class="bi bi-plus-lg"></i>
                        </button>
                      </legend>
                      <ul formArrayName="credits">
                        <li>
                          <div class="col-sm-4 col-12">
                            <div class="input-group">
                              <label class="form-label col-sm-5"
                                >Concepto</label
                              >
                              <label class="form-label col-sm-4">Monto</label>
                            </div>
                          </div>
                        </li>
                        <li
                          *ngFor="let item of credits.controls; let i = index"
                          [formGroupName]="i"
                        >
                          <div class="col-sm-4 col-12">
                            <div class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                formControlName="concept"
                              />
                              <input
                                type="number"
                                class="form-control"
                                formControlName="credit"
                              />
                              <button
                                class="btn btn-light"
                                type="button"
                                (click)="removeCredit(i)"
                              >
                                <i class="bi bi-trash"></i>
                              </button>
                            </div>
                            <gpa-validator-message
                              [control]="item.get('concept')"
                              [touched]="item.touched"
                              validation="required"
                              message="El concepto es requerido"
                            />
                            <gpa-validator-message
                              [control]="item.get('credit')"
                              [touched]="item.touched"
                              validation="min"
                              message="El monto debe ser mayor a 0"
                            />
                            <gpa-validator-message
                              [control]="item.get('credit')"
                              [touched]="item.touched"
                              validation="required"
                              message="El monto es requerido"
                            />
                          </div>
                        </li>
                      </ul>
                    </fieldset>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
