<gpa-no-permission-alert [visible]="!canRead">
  No tiene permisos para ver los ciclos de inventario
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <div search>
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-sm-4 col-4" style="border: solid 1px lightgray">
          <label style="margin-right: 10px"
            ><input
              type="radio"
              name="dateTypeFilter"
              checked
              value="init"
              (change)="handleDateTypeFilter($event)"
            />Fecha inicio</label
          >
          <label
            ><input
              type="radio"
              name="dateTypeFilter"
              value="end"
              (change)="handleDateTypeFilter($event)"
            />Fecha final</label
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-4">
          <div class="mb-3">
            <label class="form-label"
              >Desde
              {{
                dateTypeFilter == "init" ? "Fecha de inicio" : "Fecha final"
              }}</label
            >
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #fromDate="ngbDatepicker"
                formControlName="from"
                (dateSelect)="handleSearch()"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="fromDate.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-4">
          <div class="mb-3">
            <label class="form-label"
              >Hasta
              {{
                dateTypeFilter == "init" ? "Fecha de inicio" : "Fecha final"
              }}</label
            >
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #toDate="ngbDatepicker"
                formControlName="to"
                (dateSelect)="handleSearch()"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="toDate.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-4">
          <div class="mb-3">
            <label for="startDate" class="form-label"
              ><span class="text-red">*</span>Status</label
            >
            <select
              class="form-control"
              (change)="handleSearch()"
              formControlName="isClose"
            >
              <option value="-1">Todos</option>
              <option value="0">Abierto</option>
              <option value="1">Cerrado</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Fecha de inicio</th>
    <th>Fecha final</th>
    <th>Estado</th>
    <th>Nota</th>
  </tr>
  <tbody body>
    <tr *ngFor="let stockCycle of data.data">
      <td>{{ stockCycle.startDate | json }}</td>
      <td>{{ stockCycle.endDate | json }}</td>
      <td>
        {{ stockCycle.isClose ? "Cerrado" : "Abierto" }}
      </td>
      <td>{{ stockCycle.note }}</td>
      <td style="width: 50px">
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(stockCycle)"
          [disabled]="!canEdit"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
