<div
  class="right-button"
  style="position: fixed; top: 90px; display: block; right: 50px; z-index: 100"
>
  <a
    routerLink="/inventory/category/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Lista de categorías
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="form.ngSubmit.emit()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-floppy"
      viewBox="0 0 16 16"
    >
      <path d="M11 2H9v3h2z" />
      <path
        d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
      />
    </svg>
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="form.ngSubmit.emit()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>

  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
</div>
<!-- Row start -->
<div style="margin-top: 50px" class="card-content-container">
  <div class="col-sm-12 col-12">
    <!-- Card start -->
    <div class="card">
      <div class="card-body">
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear categorias
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="isEdit && !canEdit">
          No tiene permisos para modificar categorias
        </gpa-no-permission-alert>
        <form
          #form="ngForm"
          (ngSubmit)="saveCategory()"
          [formGroup]="categoryForm"
        >
          <!-- Row start -->
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="mb-3">
                <label for="name" class="form-label"
                  ><span class="text-red">*</span> Nombre</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                />
                <gpa-validator-message
                  [control]="categoryForm.get('name')"
                  [touched]="categoryForm.touched"
                  validation="required"
                  message="El nombre el requerido"
                />
                <gpa-validator-message
                  [control]="categoryForm.get('name')"
                  [touched]="categoryForm.touched"
                  validation="maxlength"
                  message="El nombre solo admite 50 caracteres"
                />
              </div>
            </div>
            <div class="col-sm-12 col-12">
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="3"
                  formControlName="description"
                ></textarea>
                <gpa-validator-message
                  [control]="categoryForm.get('description')"
                  [touched]="categoryForm.touched"
                  validation="required"
                  message="La descripción es requerids"
                />
                <gpa-validator-message
                  [control]="categoryForm.get('description')"
                  [touched]="categoryForm.touched"
                  validation="maxlength"
                  message="La descripción solo admite 200 caracteres"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Card end -->
  </div>
</div>
<!-- Row end -->
