.client-catalog {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}

.client-catalog tbody tr {
  cursor: pointer;
}

.selected-client {
  background-color: lightblue;
}
