img {
  width: 100px;
  height: auto;
}

i {
  color: #6990F2;
  font-size: 30px;
}

.dragZone {
  align-items: center;
  border-radius: 5px;
  border: 2px dashed #007BFF;
  color: #007BFF;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

.dragZone i {
  font-size: 50px;
}

.common {
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.common section .details span {
  font-size: 14px;
}

.progress-area {
  margin-bottom: 10px;
  background: #E9F0FF;
  border-radius: 5px;
  padding: 15px 20px;

  .file-row {
    display: flex;

    .details-row {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;

      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .name {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.uploaded-area {
  max-height: 232px;
  overflow: scroll;

  .content {
    display: flex;
    align-items: center;
    width: 100%;

    .details-row {
      flex-grow: 1;

      .details {
        display: flex;
        margin-left: 15px;
        flex-direction: column;

        .size {
          color: #b90404;
          font-size: 11px;
        }
      }
    }
  }

  i.bi-check {
    font-size: 30px;
  }
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}
