.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between images as needed */
}

.image-gallery img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  object-fit: cover;
  vertical-align: center;
  box-shadow: 10px 5px 5px lightgray;
}

.integration {
  border: solid 1px lightgray;
  padding: 10px;
  margin-bottom: 5px;
}

.integration .integration-header {
  margin-bottom: 25px;
  border-bottom: solid 1px lightgray;
  padding: 5px;
  display: flex;
  gap: 10px;
}
