<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="margin-top: 55px"
>
  <ngb-toast
    *ngFor="let toast of toasts$ | async"
    [class]="toast.classname"
    [autohide]="true"
    [delay]="toast.delay || 5000"
    (hidden)="hide(toast)"
  >
    <div style="display: flex">
      <p style="flex: 1">
        {{ toast.message }}
      </p>
      <button class="btn" (click)="hide(toast)" style="margin: 0; padding: 0">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </ngb-toast>
</div>
