<!-- Row start -->
<div class="row">
  <div class="col-12">
    <div style="display: flex; justify-content: space-between; gap: 15px">
      <div></div>
      <div class="right-button">
        <a
          routerLink="/invoice/receivable-account-list"
          class="btn btn-outline-info btn-rounded"
          style="margin-right: 5px"
        >
          <i class="bi bi-cash-coin"></i> Cuentas por cobrar Cuenta por cobrar
        </a>

        <button
          type="button"
          class="btn btn-outline-primary btn-rounded"
          style="margin-right: 5px"
          (click)="handleSave()"
          [disabled]="!canEdit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-floppy"
            viewBox="0 0 16 16"
          >
            <path d="M11 2H9v3h2z" />
            <path
              d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
            />
          </svg>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-12">
    <!-- Card start -->
    <div class="card">
      <div class="card-body">
        <form class="row row-cols-sm-auto" [formGroup]="receivableForm">
          <div class="col-sm-3">
            <div class="mb-3">
              <label for="date" class="form-label"
                ><span class="text-danger require-sign">*</span>Pago
                pediente</label
              >
              <div class="input-group">
                <input
                  class="form-control"
                  type="number"
                  placeholder="0.00"
                  disabled
                  [value]="invoice?.pendingPayment?.pendingPayment"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="mb-3">
              <label for="date" class="form-label"
                ><span class="text-danger require-sign">*</span>Pago</label
              >
              <div class="input-group">
                <input
                  class="form-control"
                  type="number"
                  placeholder="0.00"
                  formControlName="payment"
                />
              </div>
              <gpa-validator-message
                [control]="receivableForm.get('payment')"
                [touched]="receivableForm.touched"
                validation="required"
                message="El pago es obligatorio"
              />
              <gpa-validator-message
                [control]="receivableForm.get('payment')"
                [touched]="receivableForm.touched"
                validation="min"
                message="El pago debe ser mayor a 0"
              />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="mb-3">
              <label for="date" class="form-label"
                ><span class="text-danger require-sign">*</span>Fecha</label
              >
              <div class="input-group">
                <input
                  id="date"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  ngbDatepicker
                  formControlName="date"
                  #date="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="date.toggle()"
                  type="button"
                ></button>
              </div>
              <gpa-validator-message
                [control]="receivableForm.get('date')"
                [touched]="receivableForm.touched"
                validation="required"
                message="La fecha es obligatoria"
              />
            </div>
          </div>

          <div class="col-12 col-sm-12">
            <div class="mb-3">
              <label for="note" class="form-label">Nota</label>
              <textarea
                id="note"
                class="form-control"
                formControlName="note"
              ></textarea>
            </div>
          </div>
        </form>
        <div class="col-sm-12">
          <i class="bi bi-receipt" style="font-size: 50px"></i>
          <span style="font-size: 40px">Factura</span>
          <div>
            <ul>
              <li>
                <span class="client-profile">Estado:</span>
                {{ getStatusDescription(invoice?.invoiceStatus) }}
              </li>
              <li>
                <span class="client-profile">Tipo:</span>
                {{ invoice?.saleType == 0 ? "A crédito" : "Al contado" }}
              </li>
              <li>
                <span class="client-profile">Fecha:</span>
                {{ invoice?.date }}
              </li>
              <li>
                <span class="client-profile">Nota:</span>
                {{ invoice?.invoiceNote }}
              </li>
              <li>
                <span class="client-profile">Pago inicial:</span>
                {{ invoice?.payment | currency }}
              </li>
              <li
                [class.payment_status_payed]="invoice?.paymentStatus == 0"
                [class.payment_status_pending]="invoice?.paymentStatus == 1"
              >
                <span class="client-profile">Estado:</span>
                {{ getPaymentStatusDescription(invoice?.paymentStatus) }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12">
          <i class="bi bi-person" style="font-size: 50px"></i>
          <span style="font-size: 40px">Cliente</span>
          <div>
            <ul>
              <li>
                <span class="client-profile">Cliente:</span>
                {{ invoice?.clientName }}
              </li>
              <li>
                <span class="client-profile">Email:</span>
                {{ invoice?.clientEmail }}
              </li>
              <li>
                <span class="client-profile">Teléfono:</span>
                {{ invoice?.clientPhone }}
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <gpa-no-permission-alert [visible]="!canRead">
          No tiene permisos para ver las cuentas por cobrar
        </gpa-no-permission-alert>
        <h4>Historial de pagos</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Pago pendiente</th>
              <th>Pagado</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let account of invoice?.receivableAccounts"
              [class.row_paid]="account.payment != 0"
            >
              <td>{{ account.pendingPayment }}</td>
              <td>{{ account.payment }}</td>
              <td>{{ account.date | json }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Card end -->
  </div>
</div>
<!-- Row end -->
