<div class="map-google">
  <ngx-spinner
    name="map-google-spinner"
    [fullScreen]="false"
    type="timer"
    size="medium"
  ></ngx-spinner>
  <div class="row">
    <div class="search-holder col-12 col-sm-12 mb-2">
      <input
        id="place-search"
        type="text"
        class="form-control"
        placeholder="Buscar lugares"
      />
    </div>
  </div>
  <google-map
    width="100%"
    height="600px"
    [center]="center"
    [zoom]="zoom"
    mapId="map-google"
    (mapClick)="mapClick($event)"
  />
</div>
