<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Código</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Monto en producto</th>
    <th></th>
  </tr>
  <tbody body>
    <tr *ngFor="let stock of data.data">
      <td>{{ stock.productCode }}</td>
      <td>{{ stock.productName }}</td>
      <td>{{ stock.quantity }}</td>
      <td>${{ stock.price * stock.quantity }}</td>
      <td style="width: 100px">
        <!-- <button class="btn btn-danger btn-icon" (click)="handleDelete(invoice)">
          <i class="bi bi-trash"></i>
        </button> -->
        <button
          class="btn btn-outline-info btn-rounded"
          (click)="handleEdit(stock)"
        >
          <i class="bi bi-card-list"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
