<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Código</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Monto en producto</th>
    <th></th>
  </tr>
  <tbody body>
    <tr *ngFor="let invoice of data.data">
      <td>{{ invoice.productCode }}</td>
      <td>{{ invoice.productName }}</td>
      <td>{{ invoice.quantity }}</td>
      <td>${{ invoice.price }}</td>
      <td style="width: 100px">
        <!-- <button class="btn btn-danger btn-icon" (click)="handleDelete(invoice)">
          <i class="bi bi-trash"></i>
        </button> -->
        <button class="btn btn-warning btn-icon" (click)="handleEdit(invoice)">
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
