<div class="right-button">
  <a
    routerLink="/general/unit/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Lista de unidades
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="form.ngSubmit.emit()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <i class="fa-solid fa-floppy-disk"></i>Guardar
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="form.ngSubmit.emit()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>

  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
  >
    <i class="bi bi-arrow-clockwise"></i> Nueva unidad
  </button>
</div>
<!-- Row start -->
<div style="margin-top: 5px">
  <div class="col-sm-12 col-12">
    <!-- Card start -->
    <div class="card">
      <div class="card-body">
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear unidades
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="isEdit && !canEdit">
          No tiene permisos para modificar unidades
        </gpa-no-permission-alert>
        <form #form="ngForm" (ngSubmit)="saveUnit()" [formGroup]="unitForm">
          <!-- Row start -->
          <div class="row">
            <div class="col-sm-4 col-4">
              <div class="mb-3">
                <label for="name" class="form-label"
                  ><span class="text-red">*</span> Código</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="code"
                  formControlName="code"
                />
                <gpa-validator-message
                  [control]="unitForm.get('code')"
                  [touched]="unitForm.touched"
                  validation="required"
                  message="Requerido"
                />
                <gpa-validator-message
                  [control]="unitForm.get('code')"
                  [touched]="unitForm.touched"
                  validation="maxlength"
                  message="Tamaño máximo 10 caracteres"
                />
              </div>
            </div>
            <div class="col-sm-8 col-8">
              <div class="mb-3">
                <label for="name" class="form-label"
                  ><span class="text-red">*</span> Nombre</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                />
                <gpa-validator-message
                  [control]="unitForm.get('name')"
                  [touched]="unitForm.touched"
                  validation="required"
                  message="Requerido"
                />
                <gpa-validator-message
                  [control]="unitForm.get('name')"
                  [touched]="unitForm.touched"
                  validation="maxlength"
                  message="Tamaño máximo 50 caracteres"
                />
              </div>
            </div>
            <div class="col-sm-12 col-12">
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="3"
                  formControlName="description"
                ></textarea>
                <gpa-validator-message
                  [control]="unitForm.get('description')"
                  [touched]="unitForm.touched"
                  validation="required"
                  message="Requerido"
                />
                <gpa-validator-message
                  [control]="unitForm.get('description')"
                  [touched]="unitForm.touched"
                  validation="maxlength"
                  message="Tamaño máximo 200 caracteres"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Card end -->
  </div>
</div>
<!-- Row end -->
