<div class="right-button">
  <a
    routerLink="/inventory/stock/cycle/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Listado de ciclos
  </a>
  <button
    type="button"
    *ngIf="isClose()"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="closeCycle()"
    [disabled]="!canClose"
  >
    <i class="bi bi-pencil-square"></i>
    Cerrar ciclo
  </button>
  <a
    routerLink="/inventory/stock/cycle"
    class="btn btn-outline-primary btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-plus-lg"></i> Nuevo ciclo
  </a>
</div>
<!-- Row start -->
<div style="margin-top: 50px" class="card-content-container">
  <div class="col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <gpa-no-permission-alert [visible]="!isClose && !canClose">
          No tiene permisos cerrar ciclos de inventario
        </gpa-no-permission-alert>
        <div class="invoice-container">
          <!-- Row start -->
          <div class="row">
            <div class="col-sm-12 col-12">
              <div>
                <div class="row">
                  <address class="col-sm-8 col-10">
                    <span style="font-weight: bold">Fecha de apertura:</span>
                    {{ displayDate(stockCycle?.cycle?.startDate) }}
                    <br />
                    <span style="font-weight: bold">Fecha de cierre:</span>
                    {{ displayDate(stockCycle?.cycle?.endDate) }} <br />
                    <span style="font-weight: bold">Estado:</span>
                    {{ stockCycle?.cycle?.isClose ? "Cerrado" : "Abierto" }}
                    <br />
                    <span style="font-weight: bold">Nota:</span>
                    {{ stockCycle?.cycle?.note }} <br />
                  </address>

                  <div class="invoice-num col-sm-4 col-2">
                    <span class="initial-indicator"></span> Apertura
                    <span class="final-indicator"></span> Cierre
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row end -->
          <hr />
          <!-- Row start -->
          <div style="display: flex; justify-content: right">
            <button
              type="button"
              class="btn btn-outline-info mb-1"
              (click)="downloadStocyCycleDetailsReport()"
              [disabled]="!canClose"
              placement="top"
              ngbTooltip="Exportar a PDF"
            >
              <i class="fa-regular fa-file-pdf"></i>
            </button>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered invoice-table">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Precio</th>
                      <th>Entraron</th>
                      <th>Salieron</th>
                      <th>En existencia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detail of stockCycle?.detail">
                      <td>
                        {{
                          detail.initial?.productName ||
                            detail.final?.productName
                        }}
                      </td>
                      <td>
                        <span class="initial-detail">{{
                          detail.initial?.productPrice ?? 0 | currency
                        }}</span>
                        <span class="final-detail">{{
                          detail.final?.productPrice ?? 0 | currency
                        }}</span>
                      </td>
                      <td>
                        <span class="initial-detail">{{
                          detail.initial?.input ?? 0 | currency
                        }}</span>
                        <span class="final-detail">{{
                          detail.final?.input ?? 0 | currency
                        }}</span>
                      </td>
                      <td>
                        <span class="initial-detail">{{
                          detail.initial?.output ?? 0 | currency
                        }}</span>
                        <span class="final-detail">{{
                          detail.final?.output ?? 0 | currency
                        }}</span>
                      </td>
                      <td>
                        <span class="initial-detail">{{
                          detail.initial?.stock ?? 0 | currency
                        }}</span>
                        <span class="final-detail">{{
                          detail.final?.stock ?? 0 | currency
                        }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Row end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row end -->
