<div class="map-google" [hidden]="!visible">
  <ngx-spinner
    name="map-google-spinner"
    [fullScreen]="false"
    type="timer"
    size="medium"
  ></ngx-spinner>
  <div class="row">
    <div class="col-4 col-sm-4">
      <ul>
        <li>
          <span style="font-weight: bold">Dirección: </span
          >{{ selectedLocation?.formattedAddress }}
        </li>
        <li>
          <span style="font-weight: bold">Negocio: </span
          >{{ selectedLocation?.placeName }}
        </li>
        <li>
          <span style="font-weight: bold">Latitud: </span
          >{{ selectedLocation?.lat }}
        </li>
        <li>
          <span style="font-weight: bold">Longitud: </span
          >{{ selectedLocation?.lng }}
        </li>
      </ul>
    </div>
    <div class="search-holder col-11 col-sm-11">
      <input
        [id]="searchId"
        type="text"
        class="form-control"
        placeholder="Search for places"
      />
    </div>
    <div class="col-1 col-sm-1">
      <button class="btn btn-danger" (click)="close()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <google-map
    width="100%"
    height="650px"
    [center]="center"
    [zoom]="zoom"
    [mapId]="mapId"
    (mapClick)="mapClick($event)"
  >
    <map-marker
      *ngFor="let client of transformLocations()"
      [position]="client.position"
      [label]="{
        text: client.name,
        color: '#0000FF',
        fontSize: '16px',
      }"
      [title]="client.name"
      [icon]="markerIcon1"
    />
  </google-map>
</div>
