<gpa-no-permission-alert [visible]="!canReadTransactions">
  No tiene permisos para ver transacciones
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Estado</th>
    <th>Tipo de operación</th>
    <th>Proveedor</th>
    <th>Motivo</th>
    <th>Descripción</th>
    <th></th>
  </tr>
  <tbody body>
    <tr
      *ngFor="let stock of data.data"
      [class.input]="stock.transactionType == 0"
      [class.output]="stock.transactionType == 1"
    >
      <td
        [class.draft]="stock.status == 0"
        [class.saved]="stock.status == 1"
        [class.cancel]="stock.status == 2"
      >
        {{ getStatusDescription(stock.status) }}
      </td>
      <td>{{ stock.transactionType == 0 ? "Entrada" : "Salida" }}</td>
      <td>{{ stock.providerName }}</td>
      <td>{{ stock.reasonName }}</td>
      <td>{{ stock.description }}</td>
      <td style="width: 100px">
        <!-- <button class="btn btn-danger btn-icon" (click)="handleDelete(stock)">
          <i class="bi bi-trash"></i>
        </button> -->
        <!-- btn btn-outline-danger btn-rounded -->
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(stock)"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
