<!-- Row start -->
<div class="row">
  <div class="col-12">
    <div style="display: flex; justify-content: space-between; gap: 15px">
      <div>
        <h3>Cuentas por cobrar</h3>
      </div>
      <div class="right-button">
        <a
          routerLink="/invoice/sale/list"
          class="btn btn-outline-info btn-rounded"
          style="margin-right: 5px"
        >
          <i class="bi bi-card-list"></i> Facturas
        </a>
      </div>
    </div>
  </div>
</div>
<gpa-receivable-account-list-table
  (onDelete)="handleDelete($event)"
  (onEdit)="handleEdit($event)"
></gpa-receivable-account-list-table>
