<!-- Row start -->
<div class="row">
  <div class="col-12">
    <div style="display: flex; justify-content: space-between; gap: 15px">
      <div>
        <h3>Perfiles</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h4>{{ isEdit ? "Editando perfil" : "Agregando perfil" }}</h4>
    </div>
    <!--  -->
    <div class="card-body">
      <!-- Comienza row de sergundo nivel! -->
      <div class="row">
        <form [formGroup]="profileForm" class="row">
          <div class="col-sm-12">
            <label for="status" class="form-label">Perfil a registrar</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                [readonly]="!canCreate"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="onSubmit()"
                [disabled]="!canCreate"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-floppy"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 2H9v3h2z" />
                  <path
                    d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="btn btn-outline-dark btn-rounded"
                (click)="handleCancel()"
              >
                <i class="bi bi-arrow-clockwise"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <gpa-no-permission-alert [visible]="!canRead">
              No tiene permisos para ver los perfiles
            </gpa-no-permission-alert>
            <div class="card" *ngIf="canRead">
              <ngx-spinner
                name="profile-spinner"
                [fullScreen]="false"
                type="timer"
                size="medium"
              ></ngx-spinner>
              <hr />
              <h4>Lista de perfiles</h4>
              <gpa-profile-list
                [reloadTable]="reloadTable"
                (onDelete)="handleDelete($event)"
                (onEdit)="handleEdit($event)"
                (onView)="handleView($event)"
                (onAddUser)="handleAddUser($event)"
                [canEdit]="canEdit"
                [canDelete]="canDelete"
                [canAssignUser]="canAssignUser"
                [canUnAssignUser]="canUnAssignUser"
              ></gpa-profile-list>
            </div>
          </div>
        </form>
      </div>
    </div>
    <gpa-profile-user-catalog
      [(visible)]="isProfileUserCatalogVisible"
      (onAdd)="handdleUserAdded($event)"
      (onRemove)="handdleUserRemoved($event)"
      [selectedProfile]="selectedProfile"
      [reloadTable]="reloadProfileUserTable"
      [canAssignUser]="canAssignUser"
      [canUnAssignUser]="canUnAssignUser"
    ></gpa-profile-user-catalog>
  </div>
</div>
