<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body" [innerHTML]="safeHtmlContent"></div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">
    {{ cancelText }}
  </button>
  <button type="button" class="btn btn-danger" (click)="confim()">
    {{ okText }}
  </button>
</div>
