<form action="index.html">
  <div class="login-box">
    <div class="login-form">
      <a href="index.html" class="login-logo">
        <!-- <img src="assets/images/logo.svg" alt="Vico Admin" /> -->
        <h1>GPA</h1>
      </a>
      <div class="login-welcome">
        Bienvenido <br />Sistema de gestión de planta de agua.
      </div>
      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input type="text" class="form-control" />
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label">Contraseña</label>
          <a href="forgot-password.html" class="btn-link ml-auto"
            >Olvidé contraseña?</a
          >
        </div>
        <input type="password" class="form-control" />
      </div>
      <div class="login-form-actions">
        <button type="submit" class="btn">
          <span class="icon"> <i class="bi bi-arrow-right-circle"></i> </span>
          Entrar
        </button>
      </div>
      <!-- <div class="login-form-actions">
        <button type="submit" class="btn">
          <img
            src="assets/images/google.svg"
            class="login-icon"
            alt="Login with Google"
          />
          Login with Google
        </button>
        <button type="submit" class="btn">
          <img
            src="assets/images/facebook.svg"
            class="login-icon"
            alt="Login with Facebook"
          />
          Login with Facebook
        </button>
      </div> -->
      <div class="login-form-footer">
        <div class="additional-link">
          No tiene una cuenta? <a routerLink="/auth/register"> Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</form>
