<gpa-no-permission-alert [visible]="!canRead">
  No tiene permisos para ver facturas
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <div search style="width: 100%">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-sm-3 col-12">
          <label class="form-label" style="margin-bottom: 23px"></label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar por proveedor"
              formControlName="term"
              (input)="handleSearch()"
              style="margin-right: 2px; width: 100px"
            />
          </div>
        </div>
        <div class="col-sm-2 col-12">
          <label class="form-label">Estado</label>
          <select
            class="form-control"
            (change)="handleSearch()"
            formControlName="status"
          >
            <option value="-1">Todos</option>
            <option value="0">Borrador</option>
            <option value="1">Guardado</option>
            <option value="2">Cancelado</option>
          </select>
        </div>
        <div class="col-sm-2 col-12">
          <label class="form-label">Tipo de operación</label>
          <select
            class="form-control"
            (change)="handleSearch()"
            formControlName="transactionType"
          >
            <option value="-1">Todos</option>
            <option value="0">Entrada</option>
            <option value="1">Salida</option>
          </select>
        </div>
        <div class="col-sm-3 col-12">
          <label class="form-label">Motivo</label>
          <select
            class="form-control"
            (change)="handleSearch()"
            formControlName="reason"
          >
            <option value="-1">Todos</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Estado</th>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Nota</th>
    <th>Cliente</th>
    <th></th>
  </tr>
  <tbody body>
    <tr *ngFor="let invoice of data.data">
      <td
        [class.draft]="invoice.status == 0"
        [class.saved]="invoice.status == 1"
        [class.cancel]="invoice.status == 2"
      >
        {{ getStatusDescription(invoice.status) }}
      </td>
      <td>{{ invoice.type == 1 ? "Al contado" : "A crédito" }}</td>
      <td>{{ invoice.date | json }}</td>
      <td>{{ invoice.note }}</td>
      <td>{{ invoice.client?.name + " " + invoice.client?.lastName }}</td>
      <td style="width: 100px">
        <button
          class="btn btn-outline-danger btn-icon"
          (click)="handleDelete(invoice)"
          [disabled]="!canDelete"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(invoice)"
          [disabled]="!canEdit"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
