<div
  style="position: fixed; top: 90px; display: block; right: 50px; z-index: 100"
>
  <a
    routerLink="/invoice/receivable-account-list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-currency-exchange"></i> Cuentas por cobrar Cuenta por cobrar
  </a>
  <a
    routerLink="/invoice/sale"
    class="btn btn-outline-primary btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-plus-lg"></i> Nueva
  </a>
</div>
<div style="margin-top: 50px">
  <gpa-sale-list-table
    (onDelete)="handleDelete($event)"
    (onEdit)="handleEdit($event)"
  ></gpa-sale-list-table>
</div>
