<gpa-no-permission-alert [visible]="!canRead">
  No tiene permisos para ver facturas
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <div search style="width: 100%">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-sm-3 col-6">
          <label class="form-label" style="margin-bottom: 23px"></label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar por cliente"
              formControlName="term"
              (input)="handleSearch()"
              style="margin-right: 2px; width: 100px"
            />
          </div>
        </div>
        <div class="col-sm-2 col-6">
          <label class="form-label">Estado</label>
          <select
            class="form-control"
            (change)="handleSearch()"
            formControlName="status"
          >
            <option value="-1">Todos</option>
            <option value="0">Borrador</option>
            <option value="1">Guardado</option>
            <option value="2">Cancelado</option>
          </select>
        </div>
        <div class="col-sm-2 col-12">
          <label class="form-label">Tipo</label>
          <select
            class="form-control"
            (change)="handleSearch()"
            formControlName="saleType"
          >
            <option value="-1">Todos</option>
            <option value="0">A crédigo</option>
            <option value="1">Al contado</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-4">
          <div class="mb-3">
            <label class="form-label">Desde</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #fromDate="ngbDatepicker"
                formControlName="from"
                (dateSelect)="handleSearch()"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="fromDate.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-4">
          <div class="mb-3">
            <label class="form-label">Hasta</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #toDate="ngbDatepicker"
                formControlName="to"
                (dateSelect)="handleSearch()"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="toDate.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-1 mt-4" style="padding-top: 3px">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="resetSearchFilter()"
            placement="top"
            ngbTooltip="Limpiar campos"
          >
            <i class="bi bi-arrow-clockwise"></i>
          </button>
        </div>
      </div>
      <div style="display: flex; justify-content: right">
        <button
          type="button"
          class="btn btn-outline-info mb-1"
          (click)="downloadSaleReport()"
          placement="top"
          ngbTooltip="Exportar a PDF"
        >
          <i class="fa-regular fa-file-pdf"></i>
        </button>
      </div>
    </form>
  </div>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Estado</th>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Nota</th>
    <th>Cliente</th>
    <th>Estado de pago</th>
    <th></th>
  </tr>
  <tbody body>
    <tr *ngFor="let invoice of data.data">
      <td
        [class.draft]="invoice.status == 0"
        [class.saved]="invoice.status == 1"
        [class.cancel]="invoice.status == 2"
      >
        {{ getStatusDescription(invoice.status) }}
      </td>
      <td>{{ invoice.type == 1 ? "Al contado" : "A crédito" }}</td>
      <td>{{ invoice.date | date }}</td>
      <td>{{ invoice.note }}</td>
      <td>
        <a
          style="color: rgba(13, 110, 253)"
          routerLink="{{ '/invoice/client/edit/' + invoice.clientId }}"
          ><i class="bi bi-person"></i>
          {{ invoice.client?.name + " " + invoice.client?.lastName }}</a
        >
      </td>
      <td>
        <a
          style="color: rgba(13, 110, 253)"
          routerLink="{{ '/invoice/receivable-account/invoice/' + invoice.id }}"
          ><i class="bi bi-receipt"></i>
          {{ getPyamentStatusDescription(invoice.paymentStatus) }}</a
        >
      </td>
      <td style="width: 100px">
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(invoice)"
          [disabled]="!canEdit"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
