<!-- Row start -->
<div class="row">
  <div class="col-12">
    <div style="display: flex; justify-content: space-between; gap: 15px">
      <div>
        <h3>Permisos</h3>
      </div>
      <div class="right-button">
        <a
          routerLink="/auth/profiles"
          class="btn btn-outline-info btn-rounded"
          style="margin-right: 5px"
        >
          <i class="bi bi-card-list"></i> Perfiles
        </a>
        <button
          type="button"
          class="btn btn-outline-success btn-rounded"
          style="margin-right: 5px"
          (click)="onSubmit()"
          [disabled]="!canEdit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-floppy"
            viewBox="0 0 16 16"
          >
            <path d="M11 2H9v3h2z" />
            <path
              d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
            />
          </svg>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Permisos para el perfil: {{ profile?.name }}</h4>
    </div>
    <!--  -->
    <div class="card-body">
      <!-- Comienza row de sergundo nivel! -->
      <div class="row">
        <gpa-no-permission-alert [visible]="!canEdit">
          No tiene permisos para modificar perfiles
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="!canRead">
          No tiene permisos para ver permisos
        </gpa-no-permission-alert>
        <form class="row">
          <ul #profilecontainer>
            <li *ngFor="let app of masterProfile$ | async">
              <h3>{{ app.app }}</h3>
              <ol style="margin-left: 20px">
                <li *ngFor="let md of app.modules">
                  <h4>{{ md.id }}</h4>
                  <ul
                    *ngFor="let cp of md.components"
                    style="margin-left: 30px"
                  >
                    <h5>{{ cp.id }}</h5>
                    <ul>
                      <li *ngFor="let pm of cp.permissions">
                        <div class="form-check">
                          <input
                            type="checkbox"
                            [id]="
                              app.app + '-' + md.id + '-' + cp.id + '-' + pm
                            "
                            class="form-check-input"
                          />
                          <label
                            class="form-check-label"
                            [for]="
                              app.app + '-' + md.id + '-' + cp.id + '-' + pm
                            "
                            >{{ pm }}</label
                          >
                        </div>
                      </li>
                    </ul>
                  </ul>
                </li>
              </ol>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
