<div class="right-button">
  <a
    routerLink="/auth/profiles"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Perfiles
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    [disabled]="!canEdit"
  >
    <i class="fa-solid fa-floppy-disk"></i>Guardar
  </button>
</div>
<div style="margin-top: 50px" class="card-content-container">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Permisos para el perfil: {{ profile?.name }}</h4>
    </div>
    <!--  -->
    <div class="card-body">
      <!-- Comienza row de sergundo nivel! -->
      <div class="row">
        <gpa-no-permission-alert [visible]="!canEdit">
          No tiene permisos para modificar perfiles
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="!canRead">
          No tiene permisos para ver permisos
        </gpa-no-permission-alert>
        <form class="row">
          <ul #profilecontainer>
            <li *ngFor="let app of masterProfile$ | async">
              <h3>{{ app.app }}</h3>
              <ol style="margin-left: 20px">
                <li *ngFor="let md of app.modules">
                  <h4>{{ md.id }}</h4>
                  <ul
                    *ngFor="let cp of md.components"
                    style="margin-left: 30px"
                  >
                    <h5>{{ cp.id }}</h5>
                    <ul>
                      <li *ngFor="let pm of cp.permissions">
                        <div class="form-check">
                          <input
                            type="checkbox"
                            [id]="
                              app.app + '-' + md.id + '-' + cp.id + '-' + pm
                            "
                            class="form-check-input"
                          />
                          <label
                            class="form-check-label"
                            [for]="
                              app.app + '-' + md.id + '-' + cp.id + '-' + pm
                            "
                            >{{ pm }}</label
                          >
                        </div>
                      </li>
                    </ul>
                  </ul>
                </li>
              </ol>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
