.require-sign {
  font-size: 20px;
}

.invalid-sign {
  color: red;
  font-size: 20px;
}

.show-more-drowpdown {
  padding: 9px;
}

@media screen and (max-width: 1024px) {
  .right-button {
    position: fixed !important;
    top: 140px !important;
    display: block;
    z-index: 100 !important;
  }

  .card-content-container {
    margin-top: 100px !important;
  }
}

/* WebKit-based browsers (Chrome, Safari) */
.sidebar-menu::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.sidebar-menu::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background: #f1f1f1; /* Color of the scrollbar thumb */
  border-radius: 50%; /* Rounded corners for the scrollbar thumb */
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
.sidebar-menu {
  overflow: scroll; /* Enable scrolling if the content is larger than the container */
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #f1f1f1 #ffffff; /* Color of the scrollbar thumb and track */
}
