<gpa-no-permission-alert [visible]="!canRead">
  No tiene permisos para leer unidades
</gpa-no-permission-alert>
<gpa-data-table
  [onSetPageToShow]="handleSetPageToShow"
  [options]="data.options"
  [onForwardPage]="handleForwardPage"
  [onBackwardPage]="handleBackwardPage"
>
  <div search>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por código o nombre o descripción"
        style="margin-right: 20px; width: 300px"
        (input)="handleSearch($event)"
      />
    </div>
  </div>
  <h3 class="card-title" caption></h3>
  <tr header>
    <th>Código</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <!-- <th></th> -->
  </tr>
  <tbody body>
    <tr *ngFor="let unit of data.data">
      <td>{{ unit.code }}</td>
      <td>{{ unit.name }}</td>
      <td>{{ unit.description }}</td>
      <td style="width: 100px">
        <button
          class="btn btn-outline-danger btn-icon"
          (click)="handleDelete(unit)"
          [disabled]="!canDelete"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          class="btn btn-outline-warning btn-icon"
          (click)="handleEdit(unit)"
          [disabled]="!canEdit"
        >
          <i class="bi bi-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</gpa-data-table>
