<div class="right-button">
  <a
    routerLink="/general/print-information/list"
    class="btn btn-outline-info btn-rounded"
    style="margin-right: 5px"
  >
    <i class="bi bi-card-list"></i> Listado de informacione de impresión
  </a>
  <button
    type="button"
    class="btn btn-outline-success btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    *ngIf="!isEdit"
    [disabled]="!canCreate"
  >
    <i class="fa-solid fa-floppy-disk"></i>Guardar
  </button>
  <button
    *ngIf="isEdit"
    type="button"
    class="btn btn-outline-warning btn-rounded"
    style="margin-right: 5px"
    (click)="onSubmit()"
    [disabled]="!canEdit"
  >
    <i class="bi bi-pencil-square"></i>
    Actualizar
  </button>

  <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="handleCancel()"
    placement="left"
    ngbTooltip="Limpiar campos"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
</div>
<div style="margin-top: 50px" class="card-content-container">
  <div class="col-sm-12 col-12">
    <div class="card">
      <div class="card-header"></div>

      <!--  -->
      <div class="card-body">
        <!-- Comienza row de sergundo nivel! -->
        <gpa-no-permission-alert [visible]="!canCreate">
          No tiene permisos para crear productos
        </gpa-no-permission-alert>
        <gpa-no-permission-alert [visible]="isEdit && !canEdit">
          No tiene permisos para modificar productos
        </gpa-no-permission-alert>
        <div class="info-container">
          <!-- Primer grupo del formlario -->
          <div class="card-border">
            <div class="card-border-title mb-1">Información General</div>
            <div class="card-border-body">
              <form [formGroup]="printInformationForm" class="row">
                <!--  -->
                <div class="row">
                  <div class="col-sm-2 col-2">
                    <img
                      [src]="this.imageUrl"
                      class="img-thumbnail image-upload-product"
                      (click)="fileUpload.click()"
                    />
                    <input
                      type="file"
                      style="display: none"
                      #fileUpload
                      (change)="processFileUpload($event)"
                    />
                  </div>
                  <div class="col-sm-12 col-12">
                    <div class="mb-3">
                      <label class="form-label"
                        >Compañía<span class="text-red">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="companyName"
                      />
                      <gpa-validator-message
                        [control]="printInformationForm.get('companyName')"
                        [touched]="printInformationForm.touched"
                        validation="required"
                        message="Campo requerido"
                      />
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-6 col-12">
                    <div class="input-group">
                      <div class="mb-3" style="width: 20%">
                        <label class="form-label"
                          >Prefijo<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="companyDocumentPrefix"
                        />
                      </div>

                      <div class="mb-3" style="width: 80%">
                        <label class="form-label"
                          >Documento<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="companyDocument"
                        />
                        <gpa-validator-message
                          [control]="
                            printInformationForm.get('companyDocument')
                          "
                          [touched]="printInformationForm.touched"
                          validation="required"
                          message="Campo requerido"
                        />
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-sm-6 col-12">
                    <div class="input-group">
                      <div class="mb-3" style="width: 20%">
                        <label class="form-label"
                          >Prefijo<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="companyPhonePrefix"
                        />
                      </div>

                      <div class="mb-3" style="width: 80%">
                        <label class="form-label"
                          >Teléfono<span class="text-red">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="companyPhone"
                        />
                        <gpa-validator-message
                          [control]="printInformationForm.get('companyPhone')"
                          [touched]="printInformationForm.touched"
                          validation="required"
                          message="Campo requerido"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label"
                        >Email<span class="text-red">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="companyEmail"
                      />
                      <gpa-validator-message
                        [control]="printInformationForm.get('companyEmail')"
                        [touched]="printInformationForm.touched"
                        validation="required"
                        message="Campo requerido"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="mb-3">
                      <label class="form-label"
                        >Firmante<span class="text-red">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="signer"
                      />
                      <gpa-validator-message
                        [control]="printInformationForm.get('signer')"
                        [touched]="printInformationForm.touched"
                        validation="required"
                        message="Campo requerido"
                      />
                    </div>
                  </div>

                  <div class="col-sm-6 col-12" style="padding-top: 26px">
                    <div class="mb-3">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          id="current"
                          class="form-check-input"
                          formControlName="current"
                          [value]="true"
                        />
                        <label for="current" class="form-check-label"
                          >Configuración por defecto</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-8 col-12">
                    <div class="mb-3">
                      <label class="form-label"
                        >Sitio web<span class="text-red">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="companyWebsite"
                      />
                      <gpa-validator-message
                        [control]="printInformationForm.get('companyWebsite')"
                        [touched]="printInformationForm.touched"
                        validation="required"
                        message="Campo requerido"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12 col-12">
                    <div class="mb-2">
                      <label class="form-label"
                        >Dirección<span class="text-red">*</span></label
                      >
                      <textarea
                        rows="4"
                        class="form-control"
                        formControlName="companyAddress"
                      ></textarea>
                      <gpa-validator-message
                        [control]="printInformationForm.get('companyAddress')"
                        [touched]="printInformationForm.touched"
                        validation="required"
                        message="Campo requerido"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
