<form [formGroup]="resetForm" (ngSubmit)="changePassword()">
  <div class="login-box">
    <div class="login-form">
      <a href="index.html" class="login-logo">
        <!-- <img src="assets/images/logo.svg" alt="Vico Admin" /> -->
        <h1>GPA</h1>
      </a>
      <div class="alert alert-danger" role="alert" *ngIf="errors.length">
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>
      <div *ngIf="messages$ | async as messages">
        <div class="alert alert-success" role="alert" *ngIf="messages.length">
          <ul>
            <li *ngFor="let mgs of messages">{{ mgs }}</li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"
          ><span class="invalid-sign">*</span>Usuario</label
        >
        <input type="text" class="form-control" formControlName="userName" />
        <gpa-validator-message
          [control]="resetForm.get('userName')"
          [touched]="resetForm.touched"
          validation="required"
          message="El Usuario es requerido"
        />
        <gpa-validator-message
          [control]="resetForm.get('userName')"
          [touched]="resetForm.touched"
          validation="maxlength"
          message="El nombre de usuario no puede tener más de 30 caracteres."
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Código</label>
        <input type="text" class="form-control" formControlName="code" />
        <gpa-validator-message
          [control]="resetForm.get('code')"
          [touched]="resetForm.touched"
          validation="required"
          message="El código es requerido"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <gpa-validator-message
          [control]="resetForm.get('password')"
          [touched]="resetForm.touched"
          validation="required"
          message="La Contraseña es requerida"
        />
        <gpa-validator-message
          [control]="resetForm.get('password')"
          [touched]="resetForm.touched"
          validation="maxlength"
          message="Ha excedido el límite de 128 caracteres"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Confirmar contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <gpa-validator-message
          [control]="resetForm.get('confirmPassword')"
          [touched]="resetForm.touched"
          validation="required"
          message="Confirmar contraseña es requerida"
        />
        <gpa-validator-message
          [control]="resetForm.get('confirmPassword')"
          [touched]="resetForm.touched"
          validation="bothPasswordAreInvalid"
          message="Las contraseñas no coinciden"
        />
        <gpa-validator-message
          [control]="resetForm.get('confirmPassword')"
          [touched]="resetForm.touched"
          validation="maxlength"
          message="Ha excedido el límite de 128 caracteres"
        />
      </div>
      <div class="login-form-actions">
        <button type="submit" class="btn">
          <span class="icon"> <i class="bi bi-arrow-clockwise"></i></span>
          Cambiar contraseña
        </button>
      </div>
      <div class="login-form-footer">
        <div class="additional-link">
          No tiene una cuenta?
          <a routerLink="/auth/totp-code"> Enviar código nuevamente</a>
        </div>
        <div class="additional-link">
          Ya tiene una cuenta? <a routerLink="/auth/login"> ENTRAR</a>
        </div>
      </div>
    </div>
  </div>
</form>
