<form [formGroup]="resetForm" (ngSubmit)="sendCode()">
  <div class="login-box">
    <div class="login-form">
      <a href="index.html" class="login-logo">
        <!-- <img src="assets/images/logo.svg" alt="Vico Admin" /> -->
        <h1>GPA</h1>
      </a>
      <div class="login-welcome">
        Ingrese el codigo que recibio, y las contraseñas.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errors.length">
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="messasge.length">
        <ul>
          <li *ngFor="let mgs of messasge">{{ mgs }}</li>
        </ul>
      </div>
      <div class="mb-3">
        <label class="form-label">Código</label>
        <input type="text" class="form-control" formControlName="code" />
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Confirmar contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
      </div>
      <div class="login-form-actions">
        <button type="submit" class="btn">
          <span class="icon"> <i class="bi bi-arrow-clockwise"></i></span>
          Enviar código
        </button>
      </div>
      <div class="login-form-footer">
        <div class="additional-link">
          No tiene una cuenta?
          <a routerLink="/auth/totp-code"> Enviar código nuevamente</a>
        </div>
        <div class="additional-link">
          Ya tiene una cuenta? <a routerLink="/auth/login"> ENTRAR</a>
        </div>
      </div>
    </div>
  </div>
</form>
