<nav class="sidebar-wrapper">
  <!-- Sidebar brand starts -->
  <div class="sidebar-brand">
    <!-- <a href="index.html" class="logo">
      <img src="assets/images/logo.svg" alt="Melon Admin Dashboard" />
    </a> -->
    <div class="logo">
      <h1>GPA</h1>
    </div>
  </div>
  <!-- Sidebar brand starts -->

  <!-- Sidebar menu starts -->
  <div class="sidebar-menu">
    <div class="sidebarMenuScroll">
      <ul>
        <gpa-admin-sidebar-menu-item
          (onMenuSelected)="handleMenuSelected($event)"
          menu="inventory"
          [selectedMenu]="selectedMenu"
        >
          <ng-container header>
            <i class="bi bi-house"></i>
            <span class="menu-text">Inventario</span>
          </ng-container>
          <ng-container items>
            <ul>
              <li>
                <a
                  routerLink="inventory/product"
                  routerLinkActive="current-page"
                  class="current-page"
                  >Productos</a
                >
              </li>
              <li>
                <a
                  routerLink="inventory/category"
                  routerLinkActive="current-page"
                  >Category</a
                >
              </li>
            </ul>
          </ng-container>
        </gpa-admin-sidebar-menu-item>
        <gpa-admin-sidebar-menu-item
          (onMenuSelected)="handleMenuSelected($event)"
          menu="invoice"
          [selectedMenu]="selectedMenu"
        >
          <ng-container header>
            <i class="bi bi-house"></i>
            <span class="menu-text">Factura</span>
          </ng-container>
          <ng-container items>
            <ul>
              <li>
                <a
                  [routerLink]="['invoice/sale']"
                  routerLinkActive="current-page"
                  >Productos</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['invoice/purchase']"
                  routerLinkActive="current-page"
                  >Productos</a
                >
              </li>
            </ul>
          </ng-container>
        </gpa-admin-sidebar-menu-item>
      </ul>
    </div>
  </div>
  <!-- Sidebar menu ends -->
</nav>
