<div class="row">
  <div class="col-12">
    <div style="display: flex; justify-content: space-between; gap: 15px">
      <div></div>
      <div class="right-button">
        <a
          routerLink="/inventory/product"
          class="btn btn-outline-primary btn-rounded"
          style="margin-right: 5px"
        >
          <i class="bi bi-plus-lg"></i> Nueva producto
        </a>
      </div>
    </div>
  </div>
</div>
<gpa-product-list-table
  (onDelete)="handleDelete($event)"
  (onEdit)="handleEdit($event)"
  [reloadTable]="reloadTable"
></gpa-product-list-table>
